*{
    margin: 0%;
    padding: 0%;
}
nav{
    display: inline- inline-block;
    color: black; 
    background-color: chocolate; 
    padding: 5%;
}
ul,h1,h3,li{
    display: inline;
    color: black;
    
}
li{
    cursor: pointer;
}
li:hover{
    color: white;
}
p{
    padding-top: 2%;
    margin-left: 30%;
}
input{
width: 60%;
margin-left: 20%;
text-align: center;
}
.Searchbar{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
}
.product{
    padding-top: 2%;
    margin-left: 38%;
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    margin-top: 1%;
    border-color: black;
}
.product_n{
    padding-top: 2%;
    margin-left: 30%;
    display: inline-block;
    border-width: 3px;
    border-style: solid;
    margin-top: 2%;
    border-color: black;
}
.product:hover{
background-color: yellowgreen;
color: brown;
}

.product_n:hover{
    background-color: orange;
    color: brown;
    }